<app-header>
</app-header>
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 flex-between">
        <h3 class="search-area__title">Knjiga:</h3>
        <button type="button" class="product__goback" (click)="goHomepage()">Pogledaj</button>
      </div>
      <!--col-sm-12-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</div>
<!--search-->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="product">
        <div class="product">
          <h3 class="product__title">
            {{product.name}}
            <span>Ocjena {{product.grade}} od 5 (na temelju <em>2</em> recenzije)</span>
          </h3>
          <div class="product__content">
            <img class="product__image" src="../../assets/images/{{product.id}}.jpg" />
            <p class="product__text">
              {{product.description}}
            </p>
          </div>
          <div class="product__footer">
            <h3>Recenzije:</h3>
            <div class="product__review" *ngFor="let review of product.review">
              <div class="product__review-header">
                <img class="product__review-image" src="../../assets/images/review{{review.grade}}.png">
                <h3>{{review.name}}</h3>
                <p class="product__review-grade">Ocjena: <strong>{{review.grade}}</strong></p>
              </div>
              <div class="product__review-content">
                  <h4>{{review.title}}</h4>
                  <p>{{review.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--col-sm-9-->
    </div>
    <!--col-sm-9-->
  </div>
  <!--row-->
</div>
<!--container-->