<app-header>
</app-header>
<app-search>
</app-search>

<div class="search-area__search">
  <input type="search" id="site-search" [(ngModel)]="searchText" placeholder="Search through site content">
</div><!--search-bar-->


<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div>
                <app-product [product]="product" (onFavorite)="onFavorite($event)" *ngFor="let product of products | filter: searchText">
                </app-product>
            </div>
            <!--for-->
        </div>
        <!--col-sm-9-->
        <div class="col-sm-3" *ngIf="favoriteProducts.length > 0" >
            <app-favorites [favoriteProducts]="favoriteProducts">

            </app-favorites>
        </div>
        <!--col-sm-9-->
    </div>
    <!--row-->
</div>
<!--container-->