<div class="favorites">
  <h3 class="favorites__title">
    Favorites:
  </h3>
  <ul class="favorites__list">
    <li class="favorites__product" *ngFor="let product of favoriteProducts;"> 
      <img class="favorites__image" src="../../assets/images/{{product.id}}.jpg" />
      <div class="favorites__text">
        <p class="favorites__name">
          {{product.name}}
        </p>
        <span class="favorites__grade">Ocjena <strong>{{product.grade}}</strong> od 5</span>
      </div>
    </li>
  </ul>
</div>